<!DOCTYPE html>
<html>
  <head>
    <title>all suggestions</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><a href="create-suggestion">add new suggestion</a></h1>
    <h1>suggestion list</h1>
    <% if(list.length){list.forEach((element) => { %>
    <p><a href="#"><%= element.title %> </a></p>

    <% })} else {%>
    <h1>no suggestions found</h1>
    <% } %>
  </body>
</html>
